.pagination {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500; 
    font-size: var(--subtitle);
}
.pagination__items {
    display: flex;
    gap: 10px;
}

.pagination__items a {
    padding: 10px;
    color: var(--main-Gray);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.item__active {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--alpha-Silver-15);
}

.pagination__pages a:hover,
.pagination__pages a:focus {
    color: var(--main-LightGray);
}

.pagination__nav {
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: var(--main-Silver);
    transition: color 0.2s ease-in-out;
}

.pagination__nav:hover,
.pagination__nav:focus {
    color: var(--main-LightGray);
}
