.pagination {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500; 
    font-size: var(--subtitle);
}
.pagination__pages {
    display: flex;
    gap: 10px;
}

.pagination__pages a {
    margin: 0 10px 0 10px;
    color: var(--main-Gray);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.pagination__pages a:hover,
.pagination__pages a:focus {
    color: var(--main-LightGray);
}

.pagination__nav {
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: var(--main-Silver);
    transition: color 0.2s ease-in-out;
}

.pagination__nav:hover,
.pagination__nav:focus {
    color: var(--main-LightGray);
}
