.catalog__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-content: center; 
}

.page-tint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 320px) and (max-width: 576px) {
    .catalog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 577px) and (max-width:768px) {
    .catalog__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:768px) and (max-width: 830px) {
    .catalog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:831px) and (max-width: 992px) {
    .catalog__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 993px) {
    .catalog__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1350px) {
    .catalog__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width:1580px) {
    .catalog__grid {
        grid-template-columns: repeat(5, 1fr);
    }
}