.catalog__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-content: center; 
    flex-grow: 1;
}

@media (max-width: 767px) {
    .catalog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .catalog__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .catalog__grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (min-width: 1400px) {
    .catalog__grid {
        grid-template-columns: repeat(5, 1fr); 
    }
}