/* ===== CARD ===== */
.card {
    display: flex;
    flex-direction: column;

    width: 200px;
    max-width: 100%;
    padding: 10px;

    background-color: var(--main-White);
    border-radius: 10px;
    border: 1px solid var(--alpha-Silver-15);
    border-style: inset;
}

.card__img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8px;

    width: 180px; 
    height: 180px; 

    border-radius: 10px;
    background-color: var(--main-Powder);
  }

.card__img__wrapper,
.card__weight,
.button__add {
  margin-bottom: 10px;
}


.card__img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
}

/* ----- price -----*/
.card__price {
    color: var(--main-Gray);
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 700;
    font-size: var(--title);
}

.card__price::after {
    display: inline-block;
    content: "\00A0₽"; 
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 700; 
    font-size: var(--title); 
}

/* ----- title -----*/
.card__title {
    color: var(--main-Gray);
    font-size: var(--subtitle);
    font-family: "PP Neue Montreal";
    font-weight: 500; 
    font-size: var(--subtitle);
    margin-top: 4px;
}

/* ----- weight -----*/
.card__weight {
    color: var(--main-Silver);

    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500;
    font-size: var(--note);
    margin-top: 20px;
}

.card__weight::after {
    display: inline-block; 
    content: "\00A0гр.";

    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500;
    font-size: var(--note);
}
/* ----- buttnon -----*/
.button__add {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;

    color: var(--main-Gray);
    background-color: var(--main-Powder);

    border-radius: 6px;
    border: 1px solid var(--alpha-Silver-15);
    border-style: inset;
    
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500;
    font-size: var(--subtitle);
}