.header {
    display: flex;
    align-items: center;
    background-color: var(--main-White);
    width: 100%;
    height: 118px;
    border-radius: 0 0 20px 20px;
}


/* ----- search -----*/
.input__search {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    width: 25%;
    padding: 10px;
    gap: 12px;

    background-color: var(--alpha-Silver-15);
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 0 1px var(--alpha-Silver-15);
}

.input__search .icons {
        color: var(--main-LightGray);
}

.search::placeholder {
    color: var(--main-Silver);
    font-size: var(--subtitle);
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500;
}

/* ----- adress -----*/
.input__adress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    padding: 10px;
    gap: 12px;
    caret-color: transparent;
    cursor: pointer;

    background-color: var(--main-White);
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 0 1px var(--alpha-Silver-15);
    transition: background-color 0.2s ease-in-out;
}

.input__adress .icons {
    color: var(--main-Gray);
}

.adress::placeholder {
    color: var(--main-Gray);
    font-size: var(--subtitle);
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: 500;
}

.input__adress:hover,
.input__adress:focus {
    background-color: var(--alpha-Silver-15);
}

.search,
.adress {
    border: none;
    outline: none;
    background: none;
}